:root {
  --clr-pri: rgb(239, 239, 239);
  --clr-pri-dark: rgb(179, 179, 179);
  --clr-sec: goldenrod;
  --clr-sec-dark: rgb(183, 134, 11);
  --clr-3: rgb(7, 7, 7);
  --clr-3-light: rgb(77, 77, 77);
  --font-1: 'Trebuchet MS';
  --font-2: 'Gill Sans';
  font-size: 62.5%;
  background: var(--clr-3);
  color: var(--clr-pri);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-family: var(--font-1);
}

header {
  margin: 3.5rem 0 3rem 0;
  display: flex;
  align-items: flex-end;
  gap: 0.6rem;
}
@media only screen and (min-width: 500px) {
  header {
    gap: 3.5rem;
  }
}
h1 {
  font-size: 13rem;
  font-style: italic;
  line-height: 10.3rem;
}
@media only screen and (min-width: 500px) {
  h1 {
    font-size: 14.5rem;
    line-height: 11.5rem;
  }
}
.score-container {
  text-align: center;
}
.score-label {
  font-size: 1.8rem;
}
.score {
  font-family: var(--font-2);
  font-weight: bold;
  color: var(--clr-sec);
}
.instructions {
  margin-top: -1rem;
  padding: 0 1rem;
  max-width: 50rem;
  text-align: center;
  font-family: var(--font-2);
  font-size: 2.1rem;

  /* border: 1px solid red; */
}
.controls-container {
  margin: 2rem 0 0 0;
  /* border: 1px solid red; */
}
.control {
  margin: 0 0.6rem;
  width: 7.3rem;
  height: 2.7rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--clr-pri);
  color: var(--clr-3);
  cursor: pointer;
}
.control:active {
  background: var(--clr-pri-dark);
}
@media (hover: hover) {
  .control:hover {
    background: var(--clr-pri-dark);
  }
  .control:active {
    background: var(--clr-pri);
  }
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
